configstore/*
filezilla/*
yarn/*
wireshark/*
*.log
github-copilot/*
OpenRGB/*.log
*-lock.*

tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data

*__pycache*
*bak.*
pocket-casts-linux/*
Apple\ Music/*
Raspberry*
Trust*
dconf/*
