add_newline = true

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$cmd_duration\
$line_break\
$python\
$character"""

palette = 'tokyodawn'

[directory]
style = "green"
truncation_length = 5
truncation_symbol = "../"
repo_root_style = "cyan"
repo_root_format = "[$repo_root]($repo_root_style)[$path]($style)[$read_only]($read_only_style) "

[hostname]
ssh_symbol = "@"
style = "magenta"
format = "[$ssh_symbol](orange)[$hostname]($style) "

[username]
style_user = "cyan"
format = "[$user]($style)"

[character]
success_symbol = " [❯](cyan)"
error_symbol = " [✗](red)"
vimcmd_symbol = " [❮](bold orange)"

[git_branch]
format = "[$branch]($style)"
style = "italic magenta"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "[◪◦](italic bright-magenta)"
ahead = "[▴│[${count}](bold white)│](italic green)"
behind = "[▿│[${count}](bold white)│](italic red)"
diverged = "[◇ ▴┤[${ahead_count}](regular white)│▿┤[${behind_count}](regular white)│](italic bright-magenta)"
untracked = "[◌◦](italic bright-yellow)"
stashed = "[◃◈](italic white)"
modified = "[●◦](italic yellow)"
staged = "[▪┤[$count](bold white)│](italic bright-cyan)"
renamed = "[◎◦](italic bright-blue)"
deleted = "[✕](italic red)"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "orange"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = '(\([$virtualenv]($style)\) )'
style = 'orange'


[palettes.tokyodawn]
cyan = '#009fff'
yellow = '#efef7f'
green = '#40d69b'
magenta = '#eb75ce'
orange = '#ffb723'
red = "#db4b4b"
alert = "#cb62bd"
