[Unit]
Description=Llama.cpp Server

[Service]
Type=simple
WorkingDirectory=%h/.llama/llama.cpp
Environment="MODEL_NAME=Qwen3-14B-Q4_K_M.gguf"
Environment="MODEL_PATH=%h/.llama/models/Qwen3-14B-Q4_K_M.gguf"
Environment="MODEL_ARGS=-c 131072"
ExecStart=/bin/bash -c "exec /home/steve/.llama/llama.cpp/build/bin/llama-server -m /home/steve/.llama/models/Devstral-Small-2-24B-Instruct-2512-Q4_K_M.gguf --host 0.0.0.0 --port 8080 -c 100000 -ngl 30 --chat-template mistral-v3 --temp 1.0 --top-p 0.95 --top-k 40 --min-p 0.01"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
