@define-color cyan #0070ff;
@define-color main @cyan;
@define-color bg #1a1b25;
@define-color bg-tr rgba(26, 27, 37, 0.55);
@define-color alt-bg #0f0f16;
@define-color white #ebf7ff;


* {
  font-size: 18px;
  font-family: "Hack Nerd Font Regular";
  transition: 0.5s;
  color: @main;
}

*:hover {
  color: @white;
}

window#waybar>* {
  margin: 4px 12px;
}

window#waybar {
  background-color: @bg-tr;
  border: none;
  box-shadow: none;
}

.modules-left>widget:last-child>*,
.modules-right>widget:last-child>* {
  padding-right: 8px;
  margin-right: 8px;
}

.modules-left>widget:first-child>*,
.modules-right>widget:first-child>* {
  padding-left: 8px;
  margin-left: 8px;
}

.modules-right>widget:last-child {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.modules-right>widget:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.modules-left>widget:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.modules-left>widget:last-child {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}


.modules-left>widget,
.modules-right>widget{
  background: @alt-bg;
}

.modules-center{
  padding: 0 0 0 5px;
}


widget>* {
  padding-top: 4px;
}

#workspaces {
  margin: 0;
  padding-top: 0;
}

.modules-center:first-child{
  margin-left: 120px
}

#clock {
  margin-right: 12px;
  padding: 0;
}

#workspaces button {
  padding-top: 8px;
}

#workspaces button.active {
  border: solid 1px @main;
  border-radius: 8px;
}

*>button:hover {
  background: @white;
}

#tray {
  margin: 0px 4px 4px 4px;
  padding-top: 0px;
  border-radius: 4px;
  border-left: 1px solid @main;
}

#tray * {
  padding: 0 8px;
}

#pulseaudio {
  padding: 0;
  margin-left: 4px;
}

#pulseaudio,
#memory,
#cpu,
#custom-updates,
#tray,
#disk {
  padding-left: 10px;
  padding-right: 10px;
}

#custom-right-arrow-dark,
#custom-right-arrow-light,
#custom-left-arrow-dark,
#custom-left-arrow-light {
  padding: 0;
  margin: 0;
  font-size: 28px;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: @bg-tr;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: @alt-bg;
  background: @bg-tr;
}
